#map.step{'data-scale' => @map_scale, 'data-y' => -180, 'data-x' => 50}
  %img{src: 'public/images/map.png'}

- locations.each do |location|
  .step.location{location_step_atts(location)}
    .pin
      %img{src: 'public/images/pin.png'}
    %h1.name= location.name

  - location.foods.each_with_index do |food, idx|
    .step.food{food_step_atts(food, idx)}
      %img{src: food.path}
      .name= food.name

  -# End of location.
  .step.location_end{location_step_atts(location, true)}

#the_end.step{'data-scale' => @map_scale, 'data-z' => 30_000}
  %h1
    The
    %br
    End
  %a#startOver{href: '#map'}
    %img{src: 'public/images/spoon.jpg'}
  #startOverHint Click the globe to start over.
