!!!5

%html
  %head
    %meta{'http-equiv' => 'Content-Type', content: 'text/html; charset=utf-8'}

    %title Europe Food

    - if ENV['RACK_ENV'] == 'development'
      %script{src: 'javascripts/jquery-1.8.3.min.js'}
    - else
      %script{src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js'}

    %script{src: 'main.js'}

    %link{rel: 'stylesheet', href: 'site.css'}
    %link{href: 'http://fonts.googleapis.com/css?family=PT+Sans', rel: 'stylesheet', type: 'text/css'}

  %body.impress-not-supported

    #not_supported_message
      It looks like my page doesn't work on your browser.
      Try using Google Chrome, Firefox, or Safari on a desktop.

    %nav.supported_content

      %ul
        %li#nav_map
          %a{href: '#map'} Map
        %hr
        - locations.sort_by(&:name).each do |location|
          %li.location{id: "location_#{location.name}"}
            %a{href: "##{location.name}"}= location.name
        %li#showInstructions ?

    #outerImpress.supported_content
      #impress{'data-transition-duration' => @transition_duration}
        = yield

    #instructions.supported_content
      Use the space bar to step through my entire trip.
      %br
      You can also use the arrow keys on your keyboard.

    %script{src: 'javascripts/impress.js'}
